{% extends 'index.html' %}
{% block main %}
    <script>
        function sum(arr) {
            return eval(arr.join("+"));
        };

        function drawCharts_two(XName, XAllData, i, j) {
            console.log("sum:" + sum(datas[i].slice(0, 6)))
            var formatterY = '{value}'
            try {
                if (GetY_ChooseItem[j].name == "客座率")
                    formatterY = '{value}%'
            } catch (e) {
                if (i == 10)
                    formatterY = '{value}%'
            }

            var BarCharts1 = echarts.init(document.getElementById('charts' + i), 'westeros')
            var seriess = []
            if (GetX_ChooseItem.length == 10) {
                for (let k = 0; k < datas[i].length / 10; k++) {
                    seriess.push(
                        {
                            name: YItemName[j],
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            itemStyle: {
                                borderRadius: 10,
                                borderColor: '#fff',
                                borderWidth: 2
                            },
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: [
                                {value: sum(datas[i].slice(0, 6)), name: PostData[0]},
                                {value: sum(datas[i].slice(6, 12)), name: PostData[1]},
                                {value: sum(datas[i].slice(12, 18)), name: PostData[2]},
                                {value: sum(datas[i].slice(18, 24)), name: PostData[3]},
                                {value: sum(datas[i].slice(24, 30)), name: PostData[4]},
                                {value: sum(datas[i].slice(30, 36)), name: PostData[5]},
                                {value: sum(datas[i].slice(36, 42)), name: PostData[6]},
                                {value: sum(datas[i].slice(42, 48)), name: PostData[7]},
                                {value: sum(datas[i].slice(48, 54)), name: PostData[8]},
                                {value: sum(datas[i].slice(54, 60)), name: PostData[9]}
                            ]
                        }
                    )
                }
            } else {
                for (let k = 0; k < datas[i].length / 20; k++) {
                    seriess.push(
                        {
                            name: YItemName[j],
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            itemStyle: {
                                borderRadius: 10,
                                borderColor: '#fff',
                                borderWidth: 2
                            },
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: [
                                {value: sum(datas[i].slice(0, 3)), name: PostData[0]},
                                {value: sum(datas[i].slice(3, 6)), name: PostData[1]},
                                {value: sum(datas[i].slice(6, 9)), name: PostData[2]},
                                {value: sum(datas[i].slice(9, 12)), name: PostData[3]},
                                {value: sum(datas[i].slice(12, 15)), name: PostData[4]},
                                {value: sum(datas[i].slice(15, 18)), name: PostData[5]},
                                {value: sum(datas[i].slice(18, 21)), name: PostData[6]},
                                {value: sum(datas[i].slice(21, 24)), name: PostData[7]},
                                {value: sum(datas[i].slice(24, 27)), name: PostData[8]},
                                {value: sum(datas[i].slice(27, 30)), name: PostData[9]},
                                {value: sum(datas[i].slice(30, 33)), name: PostData[10]},
                                {value: sum(datas[i].slice(33, 36)), name: PostData[11]},
                                {value: sum(datas[i].slice(36, 39)), name: PostData[12]},
                                {value: sum(datas[i].slice(39, 42)), name: PostData[13]},
                                {value: sum(datas[i].slice(42, 45)), name: PostData[14]},
                                {value: sum(datas[i].slice(45, 48)), name: PostData[15]},
                                {value: sum(datas[i].slice(48, 51)), name: PostData[16]},
                                {value: sum(datas[i].slice(51, 54)), name: PostData[17]},
                                {value: sum(datas[i].slice(54, 57)), name: PostData[18]},
                                {value: sum(datas[i].slice(57, 60)), name: PostData[19]},
                            ]
                        }
                    )
                }
            }
            var option = {
                title: {
                    text: YItemName[j]
                },
                /*tooltip: {
                    showContent: false,
                    axisPointer: {
                        type: 'shadow'
                    },
                    trigger: 'axis',
                    formatter: function (params, ticket, callback) {
                        console.log("params:" + params)
                        var res = params[0].name + '<br>'
                        if (params[0].seriesName != "客座率") {
                            for (let i = 0; i < params.length; i++) {
                                res += "<span style='display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#5470c6;'></span>" + params[i].seriesName + params[i].data + "<br/>"
                            }
                        } else {
                            for (let i = 0; i < params.length; i++) {
                                res += "<span style='display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#5470c6;'></span>" + params[i].seriesName + params[i].data + "%<br/>"
                            }
                        }
                        return res
                    },
                },*/
                tooltip: {
                    trigger: 'item',
                },
                legend: {
                    data: PostData,
                    x: 'left',      //可设定图例在左、右、居中
                    y: 'center',    //可设定图例在上、下、居中
                    orient: 'vertical',
                    padding: [50, 50, 0, 10],   //可设定图例[距上方距离，距右方距离，距下方距离，距左方距离]
                },
                calculable: true,
                series: seriess
            };
            BarCharts1.setOption(option)
        }
    </script>
{% endblock %}