{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线可视化数据分析</title>
</head>
<script src="{% static "js\jquery-3.6.0.min.js" %}"></script>
<script src="{% static "js\jquery.cookie.js" %}"></script>
<script src="{% static "plugins\layui\layui.js" %}"></script>
<link rel="stylesheet" href="{% static "plugins\layui\css\layui.css" %}">
<style type="text/css">
    .layui-form-item {
        margin-top: 2px;
        margin-bottom: 0;
    }

    .layui-form-label {
        font-weight: bold;
        font-size: 16px;
        width: auto;
        text-align: left;
        margin:5px;
    }

    .MainItem {
        top: 0;
        border: 2px solid black;
        width: auto;
        height: auto;
        margin-top: 1px;
        margin-left: 2px;
        text-align: center;
    }

    .ChooseItem {
        margin: 5px;
        border: 2px solid black;
        display: inline-block;
    }

    .layui-body {
        position: absolute;
    }

    .ShowNav {
        font-size: 18px;
        font-weight: bold;
        margin-left: 6px;
        position: absolute;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid black;
        border-top: 1px solid black;
        font-size: 20px;
    }
</style>
<body>
{# 还原导航栏 #}
<a id="ShowNav" class="layui-icon layui-icon-spread-left ShowNav layui-hide"
   onclick="ShowNav.className='layui-hide';Nav.className='layui-nav layui-nav-tree layui-nav-side layui-bg-green';WorkBody.className='layui-body'">
    点击还原导航栏
</a>

<div style="display: inline">
    <div class="layui-nav layui-nav-tree layui-nav-side layui-bg-green" id="Nav">
        <div class="layui-nav-item layui-this">
            <a href="javascript:"
               onclick="ShowNav.className='layui-icon layui-icon-spread-left ShowNav';Nav.className='layui-hide';WorkBody.className=''">隐藏导航栏</a>
        </div>
        <div class="layui-nav-item">
            <a href="javascript:">文件</a>
            <dl class="layui-nav-child">
                <dd><a href="/UploadFile/">文件上传</a></dd>
                <dd><a href="/TableChoose/">数据表选择</a></dd>
            </dl>
        </div>
        <div class="layui-nav-item">
            <a href="javascript:">图表展现</a>
            <dl class="layui-nav-child">
                <dd><a href="">数据表</a></dd>
                <dd><a href="">柱状图</a></dd>
                <dd><a href="">折线图</a></dd>
                <dd><a href="">散点图</a></dd>
                <dd><a href="">饼图</a></dd>
                <dd><a href="">面积图</a></dd>
            </dl>
        </div>
    </div>
</div>
<div class="layui-body" id="WorkBody">
    <fieldset>
        <legend><b>当前无选择数据表</b></legend>
    </fieldset>
    <div class="MainItem">
        <fieldset>
            <legend><b>X轴、Y轴、显示数据选择</b></legend>
        </fieldset>
        <div class="layui-form ChooseItem">
            <div class="layui-form-item">
                <label class="layui-form-label">X轴:</label>
                <div class="layui-inline">
                    <div id="X_Location" style="width: 140px;margin:5px;"></div>
                </div>
                <div class="layui-inline layui-hide">
                    <input class="layui-input" type="text" id="day_id">
                    <select lay-search="" id="X_SelectItem"></select>
                </div>
            </div>
        </div>
        <div class="layui-form ChooseItem">
            <div class="layui-form-item">
                <label class="layui-form-label">Y轴:</label>
                <div class="layui-inline">
                    <div id="Y_Location" style="width: 140px;margin: 5px;"></div>
                </div>
                <div class="layui-inline layui-hide">
                    <select lay-search="" id="Y_SelectItem"></select>
                </div>
            </div>
        </div>
        <div class="layui-form ChooseItem">
            <div class="layui-form-item">
                <label class="layui-form-label">数据显示:</label>
                <div class="layui-inline">
                    <div id="Data_Location" style="width: 140px;margin: 5px;"></div>
                </div>
                <div class="layui-inline layui-hide">
                    <select lay-search="" id="Data_SelectItem"></select>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.config({
        base: '{% static "plugins/layui/" %}'
    }).extend({
        xmSelect: 'xm-select'
    })
    layui.use(['layer', 'laydate', 'form','xmSelect'], function () {
        var layer = layui.layer
        var laydate = layui.laydate
        var form = layui.form
        var xmSelect = layui.xmSelect

        laydate.render({
            elem: '#day_id',
            min: '2012-05-01',
            max: '2012-10-30',
            showBottom: false,
            done: function (date) {
                {# data为选择的日期 #}
            }
        })
        var X_Location =xmSelect.render({
            el:'#X_Location',
            model:{
              icon: 'hidden',
            },
            data:[
                {name: '承运日期(区间)', value: 1},
                {name: '航空公司', value: 2},
                {name: '航班号', value: 3},
                {name: '航班航线', value: 4},
                {name: '到达日期(区间)', value: 5},
                {name: '航班序号', value: 6},
                {name: '机型', value: 7},
            ]
        })

        var Y_Location = xmSelect.render({
            el: '#Y_Location',
            model: {
                icon: 'hidden',
            },
            data:[
                {name: '航段距离 :', value: 1},
                {name: '航节主舱位运力量:', value: 2},
                {name: '旅客量:', value: 3},
                {name: '主舱位是F和C的旅客量:', value: 4},
                {name: '团队旅客量:', value: 5},
                {name: '常旅客量:', value: 6},
                {name: '每旅客分摊收入:', value: 7},
                {name: 'Y舱基准价:', value: 8},
            ]
        })

        var Data_Location = xmSelect.render({
            el: '#Data_Location',
            model: {
                icon: 'hidden'
            },
            data: [
                {name: '承运日期', value: 1},
                {name: '航空公司', value: 2},
                {name: '航班号', value: 3},
                {name: '航班航线', value: 4},
                {name: '到达日期', value: 5},
                {name: '航班序号', value: 6},
                {name: '机型', value: 7},
                {name: '出发城市-到达城市', value: 8},
                {name: '出发机场-到达机场', value: 9},
            ]
        })

    })


</script>
</html>