{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据表选择</title>
    <link rel="shortcut icon" href="{% static 'images\favicon_Database.ico' %}" type="image/x-icon">
</head>
<script src="{% static "js\jquery-3.6.0.min.js" %}"></script>
<script src="{% static "js\jquery.cookie.js" %}"></script>
<script src="{% static "plugins\layui\layui.js" %}"></script>
<link rel="stylesheet" href="{% static "plugins\layui\css\layui.css" %}">
<style type="text/css">
    .layui-body {
        position: absolute;
    }

    .ShowNav {
        font-size: 16px;
        position: absolute;
    }
</style>
<body>
<div>
    <a id="ShowNav" class="layui-icon layui-icon-spread-left ShowNav layui-hide"
       onclick="ShowNav.className='layui-hide';Nav.className='layui-nav layui-nav-tree layui-nav-side layui-bg-green';WorkBody.className='layui-body'">点击还原导航栏</a>
</div>
<div style="display: inline">
    <div class="layui-nav layui-nav-tree layui-nav-side layui-bg-green" id="Nav">
        <div class="layui-nav-item layui-this"
        ">
        <a href="javascript:"
           onclick="ShowNav.className='layui-icon layui-icon-spread-left ShowNav';Nav.className='layui-hide';WorkBody.className=''">隐藏导航栏</a>
    </div>
    <div class="layui-nav-item">
        <a href="javascript:">文件</a>
        <dl class="layui-nav-child">
            <dd><a href="/UploadFile/">文件上传</a></dd>
            <dd><a href="/TableChoose/">数据表选择</a></dd>
        </dl>
    </div>
    <div class="layui-nav-item">
        <a href="javascript:">图表展现</a>
        <dl class="layui-nav-child">
            <dd><a href="">数据表</a></dd>
            <dd><a href="">柱状图</a></dd>
            <dd><a href="">折线图</a></dd>
            <dd><a href="">散点图</a></dd>
            <dd><a href="">饼图</a></dd>
            <dd><a href="">面积图</a></dd>
        </dl>
    </div>
</div>
<div class="layui-body" id="WorkBody">

</div>

<script>
    layui.use(['layer', 'laydate'], function () {
        var layer = layui.layer
        var laydate = layui.laydate
        laydate.render({
            elem: '#ChooseTime',
            min: '2012-05-01',
            max: '2012-10-30',
            showBottom: false,
            done:function (date) {
                {# data为选择的日期 #}
            }
        })

    })
</script>
</body>
</html>